<p id="notice"><%= notice %></p>

<h1>Listing Employes</h1>
<%= link_to 'MAximum age', controller: 'employes', action: 'maxage' %>
<%= link_to 'MAximum Salary', controller: 'employes', action: 'maxsalary' %> 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employes.each do |employe| %>
      <tr>
        <td><%= employe.name %></td>
        <td><%= employe.email %></td>
        <td><%= employe.age %></td>
        <td><%= employe.salary %></td>
        <td><%= employe.department_id%></td>
        <td><%= link_to 'Show', employe %></td>
        <td><%= link_to 'Edit', edit_employe_path(employe) %></td>
        <td><%= link_to 'Destroy', employe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employe', new_employe_path %>
