<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employe.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employe.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employe.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employe.salary %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employe.department %>
</p>

<%= link_to 'Edit', edit_employe_path(@employe) %> |
<%= link_to 'Back', employes_path %>
